.Menu {
  font-size: 1.5rem;
  height: 3rem;
  width: 100%;
  background: var(--mainColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--secondaryTextColor);
  text-decoration: none;
}

.Menu__title {
  margin-left: 2rem;
}
.Menu__translator {
  margin-left: 25%;
  margin-right: 2.5rem;
  cursor: pointer;
}

.Menu__dictionary {
  margin-left: 2.5rem;
  cursor: pointer;
}
